html {
	height: 100%;
	font-size: 100%;
	overflow-x: hidden;
}
body {
	min-height: 100%;
	font-size: 18px;
	font-family: $lato;
	color: black;
	background: $darkgray;
	position: relative;
	overflow-x: hidden;
}
p {
	line-height: 1.35em;
}
a {
	color: black;
	text-decoration: none;
}
/*
::selection {
	background: rgba(44,62,102,0.75);
	color: white;
}
::-moz-selection {
	background: rgba(44,62,102,0.75);
	color: white;
}*/